/ete/mof/mof-api/src
/ete/mof/mof-api/target
/ete/mof/mof-impl/src
/ete/mof/mof-impl/target
/ete/mof/mof-src/target
/ete/mof/mof-spec/target/
/ete/gel/gel-api/nbproject/
/ete/gel/gel-api/src/
/ete/gel/gel-api/target/
/ete/gel/gel-impl/src/main/
/ete/gel/gel-impl/target/
/ete/gel/gel-src/target/
/ete/gel/gel-spec/target/
/ete/gel/gel-spec/src/main/mda/gel.xml.bak
/ete/gel/gel-eval/target/
/ete/gel/gel-test-utils/target/
/ete/gel/gel-impl/nbproject/