/.scannerwork
/core/mof/mof-api/src
/core/mof/mof-api/target
/core/mof/mof-impl/src
/core/mof/mof-impl/target
/core/mof/mof-src/target
/core/mof/mof-spec/target/
/core/mof/mof-spec/src/main/mda/mof.xml.bak
/core/gel/gel-api/nbproject/
/core/gel/gel-api/src/
/core/gel/gel-api/target/
/core/gel/gel-impl/src/main/
/core/gel/gel-impl/target/
/core/gel/gel-src/target/
/core/gel/gel-spec/target/
/core/gel/gel-spec/src/main/mda/gel.xml.bak
/core/gel/gel-eval/target/
/core/gel/gel-test-utils/target/
/core/gel/gel-impl/nbproject/
/core/gel/gel-api/nbproject/
/core/gel/gel-api/target/
/core/gel/gel-impl/target/
/core/gel/gel-spec/target/
/core/gel/gel-test-utils/target/
/core/mof/mof-api/target/
/core/mof/mof-impl/target/
/core/mof/mof-spec/target/
/core/gel/gel-impl/nbproject/
/core/mof/mof-api/nbproject/
/core/mof/mof-io-api/target/
/core/mof/xmi-impl/target/
/target/
/core/mof/target/
/core/gel/target/
/core/target/
