
    public void set${dialect.i2uc($aProperty.name)}(#parse("type.vm") inValue) {
        if (value != null) {
            value.set${dialect.i2uc($aProperty.name)}(inValue);
        }
    }

    public #parse("type.vm") get${dialect.i2uc($aProperty.name)}() {
        if (value == null) {
            return #parse("optional/of-nullable.vm");
        }
        return #parse("optional/of-nullable.vm");
    }


