#set ($name=$aProperty.type.name)
#if (
    $name=="boolean")Optional<Boolean>#elseif(
    $name=="String")Optional<String>#elseif(
    $name=="int" || $name=="Integer")Optional<Integer>#elseif(
    $name=="date" || $name=="Date")Optional<java.util.Date>#elseif(
    $name=="double" || $name=="float")Optional<Double>#elseif(
    $aProperty.type.hasStereotype("ignore"))${name}#elseif(
    $aProperty.type.enumeration)${prefix}${name}#elseif(
    $aProperty.type.hasStereotype("ignore"))${name}Optional#else${prefix}${name}Optional#end