#set ($name=$aProperty.type.name)
#if (
    $name=="boolean")Boolean#elseif(
    $name=="String")String#elseif(
    $name=="int" || $name=="Integer")Integer#elseif(
    $aProperty.type.enumeration)${prefix}${name}#elseif(
    $aProperty.type.hasStereotype("ignore"))${name}#else${prefix}${name}#end